fastapi
uvicorn[standard]
pydantic[email]
pydantic-settings
python-multipart
python-dotenv
sqlalchemy[asyncio]
asyncpg
alembic
pgvector
python-jose[cryptography]
passlib[bcrypt]
bcrypt<5.0.0
psycopg2-binary
